<!DOCTYPE html>
<html lang="en">
   <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
         <link rel="stylesheet" href="/css/style.css">
            <h1 class="head">Elite Threading and Hair Salon</h1>
            <div class="home"> 
               <h5 class="h5-1">833 E Algonquin Rd,</h5>
               <h5 class="h5-2">Schaumburg</h5>
               <h5 class="h5-3">IL-60173<h5>
               <h5 class="h5-4">Phone: ###-###-####</h5>
            </div>
   </head>
   <body>
     
      <nav class="nav">
         <button class="text-decoration-none" id="indexButton">
            <a href="/services"> Index</a>
         </button>
         
         <button id="newButton">
            <a href="/services/new">New</a>
         </button>
         
         <button id="showButton">
            <a href="/services">Back</a>
         </button>
         
         <button id="regButton">
            <a href="/users/register">Register</a>
         </button>
         
         <button id="signinButton">
            <a href="/users/signin">Sign-In</a>
         </button>
         
         <button id="signoutButton">
            <a href="/users/signout">Sign-Out</a>
         </button>
       
            
         