<!DOCTYPE html>
<html lang="en">
   <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
          <link rel="stylesheet" href="/css/style.css">  
   </head>
   <body>
      <nav class="nav">
         <button class="indexButton">
            <a href="/services"> Index</a>
         </button>
         |
         <button class="newButton">
            <a href="/services/new">New</a>
         </button>
         |
         <button class="showButton">
            <a href="/services">Back</a>
         </button>