
<!-- <h1>Services Index</h1>
   <ul class="Services">
      <% for (let i =0, allServices.length; i++){ %>
         <div>
            <h1><%= allServices[i].hairCut</h1>
         </div>
     }
   </ul> -->