
<h1>Service Index</h1>
   <ul class="Service">
      <% for (let i =0; i < allServices.length; i++){ %>
         <div>
            <h2><%= allServices[i].service %></h2>
            <h2><%= allServices[i].description %></h2>
            <h2><%= allServices[i].price %></h2>
            <h2><%= allServices[i].qty %></h2>
         </div>
      <% } %>
   </ul>
            
            
            
       