body{
   background-image: url(./salon_rightside_background.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
}

fieldset{
   width: 25%;
   background-color: rgb( 214, 172, 116);
   text-align: center;
   margin-left: 70px;
}
.show-field, .sign-field  { padding-bottom: 1px; margin-bottom: 2px;  }

.reg-field { margin-bottom: 2px; }

.new-service, .new-des, .new-pri, .new-qty, .new-cre, .new-button, .Reg-username, .Reg-password, .Reg-email{
   border: 2px solid rgb(135, 133, 133);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: smaller;
}
   
.new-button, .new-cre, .signup, .submit, .delete, .editButton{
   background-color: rgb(173, 52, 52);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 12px;
   /* width: 10px; */
}
#indexButton, #newButton, #showButton, #regButton, #signinButton, #signoutButton {
   margin: 0px 1px 3px 15px;
   background-color: rgb(172, 144, 110);
   font-family:Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
.indexButton{ margin-left: 100px; }
   
.index{ margin-left: 150px; margin-top: 30px; }

.sign{margin-left: 200px; margin-top: 50px;}
   
.newAdd { margin: 50px auto auto 120px; }

.registerNew { margin-top: 50px; margin-left: 150px;}

.home{ display: flex; flex-direction: row; margin-left: 50px; }
   
.h5-1,.h5-2,.h5-3,.h5-4 {margin-left: 20px; margin-top: 0px; }

.head { margin-left: 68px; margin-bottom: 0px; }

.nav { margin-left: 50px;}

.sp { margin: 25px auto 5px 100px;  }

.sh2  { margin: 2px auto 2px auto; }

    