<%- include("../partials/header.ejs") %>
   <title>User Sign In<Input:datetime></Input:datetime><input type="button" value=""></title>
</head>
   <body>
      <h1>Sign in </h1>
         <form class="Signin-form" action="/users/signin" method="POST">
            <fieldset>
               <label for="username">Username:</label>
                  <input class="Signin-username" type="text" name="username">
            </fieldset>
            <fieldset>
               <label for="password">Password:</label>
                  <input class="Signin-password" type="password" name="password">
            </fieldset>
            <fieldset>
               <label for="email">Email:</label>
                  <input class="Signin-email" type="text" name="email">
            </fieldset>
                  <input class="signup" type="submit" value="Sign In">
         </form>
         <%- include("../partials/footer.ejs") %>